.container {
  display: center;
  justify-content: column, center;
  flex-direction: center;
  align-items: center;
  text-align: center;
  list-style: none;
}

.container img {
  max-width: 100%;
  height: 100%;
}
#peliculas-container img {
  border-radius: 36px 36px 36px 36px;
  width: 100%;
}

.search-form {
  margin-top: 20px;
  
}

#gif {
  position: absolute;
}

.body {
  display: center;
  cursor: url('/ImagenesHU/image01.gif'), auto;
  
}
#buscar{
  background-image: -webkit-linear-gradient(top, whitesmoke, grey);
  background-image: -moz-linear-gradient(top, whitesmoke, grey);
  background-image: -o-linear-gradient(top, whitesmoke, grey);
  background-image: linear-gradient(to bottom, whitesmoke, grey);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 8px;
  padding: 8px;
  text-decoration: none;
}

#listaPeliculas{
  width: 200px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 8px;
    padding: 8px;
    text-decoration: none;
}
#limpiar{
  background-image: -webkit-linear-gradient(top, whitesmoke, grey);
  background-image: -moz-linear-gradient(top, whitesmoke, grey);
  background-image: -o-linear-gradient(top, whitesmoke, grey);
  background-image: linear-gradient(to bottom, whitesmoke, grey);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 8px;
  padding: 8px;
  text-decoration: none;
}
#ordenar{
  width: 230px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 8px;
    padding: 8px;
    text-decoration: none;
}
#directores{
  width: 230px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 8px;
    padding: 8px;
    text-decoration: none

}
li {
  list-style: none;
  width: 220px; /* Ancho de la tarjeta */
  background-color: white; /* Color de fondo de la tarjeta */
  padding: 10px; /* Espaciado interno de la tarjeta */
  text-align: center;
  border: 3px hidden #000000;
  display: grid;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

footer {
  background-color: whitesmoke;
  padding: 20px 10px;
}

footer a {
  color: black;
  margin: 0 10px;
}
.profiles{
  width: 30px;
  display: inline-block;
  height: auto;
  
}


@media (min-width: 768px) {
  .iframe-header {
    width: 100%;
    height: 400px;
  }
  .pelicula {
    width: 47%;
  }
}

/* Media query para computador */
@media (min-width: 1024px) {
  .header-ghibli {
    padding: 16px 0;
  }
  .pelicula {
    width: 31%;
  }
}
